/* //// */
/* page */
/* //// */

body {
  background-color: #f3effe;
  font-family: Calibri, Arial, Helvetica, sans-serif;
  color: black;
}

#container {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, auto);
  text-align: center;
  letter-spacing: 0.1rem;
  justify-items: center;
  align-items: center;
}

#logo,
#nav,
#promise,
#reviews,
#products,
#team,
footer {
  width: 100%;
  margin: 0;
}

/* ////// */
/* header */
/* ////// */

#logo {
  grid-row: 1/1;
  background-color: #f3effe;
}

#logo-img {
  width: 40%;
  margin: 3% 0;
}

#nav {
  grid-row: 2/2;
  position: sticky;
  top: 0;
  background-color: #f3effe;
  z-index: 100;
}

#menu {
  padding: 0;
  margin: 0;
}

#menu li {
  display: inline-block;
  margin: 0 4%;
}

#menu a,
#menu a:visited {
  font-family: "Smooch Sans", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

#menu a:hover {
  text-decoration: underline;
}

/* /////// */
/* promise */
/* /////// */

#promise {
  grid-row: 3/3;
  display: grid;
  grid-template-columns: repeat(auto, 2);
  align-items: center;
  background-color: #ffd744;
}

#promise-img {
  grid-column: 1/1;
  width: 100%;
  margin: 0;
}

#promise-txt {
  grid-column: 2/2;
  font-size: 4.5rem;
  text-align: left;
  line-height: 5rem;
  width: 100%;
  margin: 0;
}

/* ////// */
/* footer */
/* ////// */

footer {
  background-image: url("../images/footer-logo.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-color: #081b14;
  color: #c3d1cc;
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: auto repeat(4, 17%) auto;
  padding-top: 5%;
}

#company,
#policies,
#documents,
#services,
#orders {
  line-height: 1rem;
  padding-left: 35%;
}

#company {
  grid-column: 1/1;
}

#policies {
  grid-column: 2/2;
}

#documents {
  grid-column: 3/3;
}

#services {
  grid-column: 4/4;
}

#orders {
  grid-column: 5/5;
}

#copyright {
  grid-column: 6/6;
  font-size: 1rem;
  align-self: flex-end;
  text-align: right;
  margin: 10px;
}

.dummy-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* ///////////// */
/* media queries */
/* ///////////// */

/* 1025px */
@media screen and (max-width: 1025px) {
  #promise-txt {
    font-size: 3.3rem;
    line-height: 3.5rem;
  }

  footer {
    font-size: 0.7rem;
  }

  #company,
  #policies,
  #documents,
  #services,
  #orders {
    line-height: 0.7rem;
    padding-left: 25%;
  }

  #copyright {
    font-size: 0.9rem;
  }
}

/* 951px */
@media screen and (max-width: 951px) {
  #logo-img {
    width: 50%;
  }

  #menu li {
    margin: 0 5%;
  }

  #menu a,
  #menu a:visited {
    font-size: 2.5rem;
  }

  #promise-txt {
    font-size: 2.8rem;
    line-height: 3rem;
  }

  #copyright {
    font-size: 0.8rem;
  }
}

/* 668px */
@media screen and (max-width: 668px) {
  #menu a,
  #menu a:visited {
    font-size: 1.8rem;
  }

  #promise-txt {
    font-size: 2rem;
    line-height: 2rem;
  }

  footer {
    font-size: 0.5rem;
  }

  #company,
  #policies,
  #documents,
  #services,
  #orders {
    line-height: 0.4rem;
    padding-left: 15%;
  }

  #copyright {
    font-size: 0.6rem;
  }
}

/* 376px */
@media screen and (max-width: 376px) {
  #logo-img {
    width: 60%;
    margin: 4% 0;
  }

  #menu li {
    margin: 0 2%;
  }

  #menu a,
  #menu a:visited {
    font-size: 1.3rem;
  }

  #promise-txt {
    font-size: 1.3rem;
    line-height: 1.3rem;
  }

  footer {
    display: none;
  }
}
