#reviews {
  grid-row: 4/4;
  background-color: #36bc94;
}

.carousel-icon,
.carousel-indicators {
  filter: invert(100%);
}

.carousel-item {
  height: 20rem;
}

.review-txt,
.review-author {
  font-style: italic;
  line-height: 2.5rem;
}

.review-txt {
  font-size: 2.5rem;
  font-weight: lighter;
  color: #0a241c;
  padding: 3% 20% 0 20%;
}

.review-author {
  font-size: 2rem;
  color: #040f0c;
  text-align: right;
  padding: 0 20%;
}

/* ///////////// */
/* media queries */
/* ///////////// */

/* 1025px */
@media screen and (max-width: 1025px) {
  .carousel-item {
    height: 18rem;
  }

  .review-txt,
  .review-author {
    line-height: 2rem;
  }

  .review-txt {
    font-size: 2rem;
    padding: 3% 15% 0 15%;
  }

  .review-author {
    font-size: 1.7rem;
    padding: 0 15%;
  }
}

/* 668px */
@media screen and (max-width: 668px) {
  .carousel-item {
    height: 13rem;
  }

  .review-txt,
  .review-author {
    line-height: 1.5rem;
  }

  .review-txt {
    font-size: 1.3rem;
  }

  .review-author {
    font-size: 1.2rem;
  }
}

/* 376px */
@media screen and (max-width: 376px) {
  .carousel-item {
    height: 12rem;
  }

  .review-txt,
  .review-author {
    line-height: 1rem;
  }

  .review-txt {
    font-size: 1rem;
  }

  .review-author {
    font-size: 1rem;
  }
}
